{% extends "index.html" %}

{% block aboutUs %} 
<style>
    .about-us {
        margin: 20px;
	    padding: 20px;
    }
</style>
<div class="about-us">
    <h1>About Us</h1>

    <div class="row">
        <div class="column">
            <img src="https://hackmit.org/assets/img/Individual_Logo.png" alt="Image of a HackMIT" width="190" height="190"/>
        </div>
        <div class="column">
            <!--
            <img src="https://scontent.fhio2-2.fna.fbcdn.net/v/t1.0-9/64916456_144411629990341_4080235587083173888_o.jpg?_nc_cat=101&_nc_sid=09
            cbfe&_nc_ohc=lFn2PkaKkOUAX9PGgD1&_nc_ht=scontent.fhio2-2.fna&oh=c84036cd9a3a742d655b4d4534e8b3ab&oe=5F8D314F" width="190" height="190">  
            -->
            <img src="static/images/ab1.jpg" width="190" height="190">

        </div>
        <div class="column">
            <img src="static/images/ab2.jpg" width="190" height="190">
            
        </div>
        <div class="column">
            <img src="static/images/ab3.jpg" width="190" height="190">
            
        </div>
        <div class="column">
            <img src="static/images/ab4.jpg" width="190" height="190">
            
      </div>

    
    

    <p>We are four students, from Yale, MIT, USYD, and UCI working on a project for HackMIT2020. We are local to Arizona, Oregon, Australia, 
        and California — all locations greatly affected by devastating forest fires this year. We banded together to address an issue pertinent
         to our own communities in the form of Wildfire Watch.</p>

</div>


{% endblock %}