{% extends "index.html" %}

{% block signUp %}

<!-- 
    not working in main.css??
-->
<style>
    .user-form {
	margin: 20px;
	padding: 20px;
}
</style>

<div class="user-form">
    <h1>Sign Up</h1>

    <form action="/signup" method="POST">
        <div><p><b>Username</b></p></div>
        <div><input type="text" id="username" name="username" /></div>

        <div><p><b>Password</b></p></div>
        <div><input type="password" id="password" name="password" /></div>

        <div><p><b>Phone Number</b></p></div>
        <div><input type="text" id="phone" name="phone" /></div>

        <div><p><b>Zip Code 1</b></p></div>
        <div><input type="text" id="zipCode1" name="zipCode1" /></div>

        <div><p><b>Zip Code 2</b></p></div>
        <div><input type="text" id="zipCode2" name="zipCode2" /></div>

        <div><p><b>Zip Code 3</b></p></div>
        <div><input type="text" id="zipCode3" name="zipCode3" /></div>
        <br></br>
        <button type="submit">Sign Up</button>

    </form>
</div>
{% endblock %}